.shadow_r {
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.5);
}

.text-field {
    margin-bottom: 1rem;
}

/* стили для label */
.text-field__label {
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 20px;
}

/* стили для input */
.text-field__input {
    width: 80%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 3rem;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

@media(max-width: 1024px) {
    .text-field__input {
        padding: 0.375rem 1.5rem;
        font-size: 16px;
    }
}

@media(max-width: 992px) {
    .text-field__input {
        padding: 0.375rem 3rem;
        font-size: 20px;
    }
}

.text-field__input::placeholder {
    color: #fff;
}
