.fio {
    color: black;
}

.img_cus {
    width: 280px;
    height: 280px;
    border-radius: 15px;
}

@media (max-width: 576px) {
    .img_cus {
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }
}
