.card_chair {
    background-color: #f7f9fc;
    width: 200px;
    border: #e6e6e7 solid 1px;
    border-radius: 15px;
}

.input_style {
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
    height: 1.4rem;
    border: #e6e6e7 solid 1px;
    border-radius: 5px;
    padding-left: 25px;
}

.img_master {
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 10px;
}

#start_time,
#end_time {
    padding-left: 25px;
    font-size: 18px;
}

#first_name,
#last_name {
    padding-left: 10px;
    font-size: 18px;
}

.but_add_work_mon,
.but_add_work_eve{
    margin-left: 15px;
    font-size: 30px;
    color: #0E6827;
    border: none;
    background: none;
}

.but_del_work_mon,
.but_del_work_eve{
    margin-left: 15px;
    font-size: 30px;
    color: #922929;
    border: none;
    background: none;
}

.name_chair {
    color: black;
    margin-bottom: 15px;
}

.img_add_chair {
    width: 150px;
    height: auto;
    border-radius: 15px;
}

input.input_style[disabled] {
    /* Восстанавливаем стандартные стили */
    opacity: 1;
    cursor: auto;
    background-color: white;
    color: initial;
}
