{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_base_with_left_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block css %}{% endblock %}
    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column min-vh-100 bg-grey">
    <header>
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="bi bi-list"> </span>
                </button>
                <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <select class="cus-filial" aria-label="Default select example">
                                <option selected disabled>Филиал</option>
                                {% for branch in branches %}
                                    <option value="{{ branch.id }}">{{ branch.address }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                    <div class="nav-item p-4">
                        <a class="log-btn" href="#" role="button">Вход <i class="bi bi-person-circle px-1"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-md-grow-1 d-flex">
        <div class="container-fluid flex-grow-1 d-flex">
            <div class="row flex-grow-1 w-100">
                <div class="col-12 col-lg-3 bg-dark_grey d-row-flex shadow_r px-xxl-5 px-5 px-lg-2">
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="text-field">
                                    <label class="text-field__label" for="monthly_hours">Количество часов отработанных
                                        в
                                        августе</label>
                                    <input class="text-field__input" type="text" name="monthly_hours" id=""
                                        placeholder="160" value="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="text-field">
                                    <label class="text-field__label" for="scheduled_hours">Запланированное количество
                                        часов в августе</label>
                                    <input class="text-field__input" type="text" name="scheduled_hours" id=""
                                        placeholder="180" value="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 bg-grey">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    {% block js %}{% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
