{% extends 'base_masters.html' %}
{% load static %}
{% load range_filter %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin_chairs.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-white my-5">{{ format_date }}</h1>
                </div>
            </div>
            <div class="row row-chair" id="chair" data-date="{{ date }}">
                {% for chair in timetables_data %}
                    <div class="col col-12 col-lg-6 col-xxl-4 d-flex flex-column align-items-center mb-5">
                        <div class="name_chair">
                            <h3>Кресло {{ chair.num }}</h3>
                        </div>
                        <div class="card_body" data-chair-number="{{ chair.num }}">
                            <div class="card_container flex-grow-1 d-flex justify-content-center align-items-center">
                                {% if chair.t_mon_dict %}
                                    <div class="row card_chair" id="chair">
                                        <div class="col col-8 d-flex justify-content-center align-items-center">
                                            <form action="#" method="post" id="work_time">
                                                <div>
                                                    <input class="input_style" type="text" id="start_time" name="start_time"
                                                        value="09:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="end_time" name="end_time"
                                                        value="15:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="first_name" name="first_name"
                                                           value="{{ chair.t_mon_dict.first_name }}" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="last_name" name="last_name"
                                                     value="{{ chair.t_mon_dict.last_name }}" disabled>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col col-4 col_img_master d-flex justify-content-center align-items-center">
                                            <img class="img_master" src="{{ chair.t_mon_dict.image }}" alt="Фото мастера">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="but_add_work_time"><i
                                                class="bi bi-person-fill-add" data-shift-type="mon"></i></button>
                                    </div>
                                {% else %}
                                    <div class="row card_chair" id="chair">
                                        <div class="col col-8 d-flex justify-content-center align-items-center">
                                            <form action="#" method="post" id="work_time">
                                                <div>
                                                    <input class="input_style" type="text" id="start_time" name="start_time"
                                                        value="09:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="end_time" name="end_time"
                                                        value="15:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="first_name" name="first_name"
                                                           value="Место не занято" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="last_name" name="last_name"
                                                     value="Место не занято" disabled>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col col-4 col_img_master d-flex justify-content-center align-items-center">
                                            <img class="img_master" src="{% static 'vendor/img/users/default_avatar.jpg' %}" alt="Фото мастера">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="but_add_work_time"><i
                                                class="bi bi-person-fill-add" data-shift-type="mon"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card_container flex-grow-1 d-flex justify-content-center align-items-center">
                                {% if chair.t_eve_dict %}
                                    <div class="row card_chair" id="chair">
                                        <div class="col col-8 d-flex justify-content-center align-items-center">
                                            <form action="#" method="post" id="work_time">
                                                <div>
                                                    <input class="input_style" type="text" id="start_time" name="start_time"
                                                        value="15:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="end_time" name="end_time"
                                                        value="20:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="first_name" name="first_name"
                                                           value="{{ chair.t_eve_dict.first_name }}" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="last_name" name="last_name"
                                                     value="{{ chair.t_eve_dict.last_name }}" disabled>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col col-4 col_img_master d-flex justify-content-center align-items-center">
                                            <img class="img_master" src="{% static 'img/i (2).webp' %}" alt="Фото мастера">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="but_add_work_time"><i
                                                class="bi bi-person-fill-add" data-shift-type="eve"></i></button>
                                    </div>
                                {% else %}
                                    <div class="row card_chair" id="chair">
                                        <div class="col col-8 d-flex justify-content-center align-items-center">
                                            <form action="#" method="post" id="work_time">
                                                <div>
                                                    <input class="input_style" type="text" id="start_time" name="start_time"
                                                        value="15:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="end_time" name="end_time"
                                                        value="20:00" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="first_name" name="first_name"
                                                           value="Место не занято" disabled>
                                                </div>
                                                <div>
                                                    <input class="input_style" type="text" id="last_name" name="last_name"
                                                     value="Место не занято" disabled>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col col-4 col_img_master d-flex justify-content-center align-items-center">
                                            <img class="img_master" src="{% static 'vendor/img/users/default_avatar.jpg' %}" alt="Фото мастера">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="but_add_work_time" onclick="click_clack()"><i
                                                class="bi bi-person-fill-add" data-shift-type="eve"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
             </div>
            <div class="row">
                <div class="col-12">
                    <p>{{ data_for_chairs.second.456 }}</p>>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

