{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/admin_all_masters.css' %}">
{% endblock %}

 {% block content %}
     <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-3">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h3 class="fio mt-1">Иван</h3>
                    <h3 class="fio">Поддубный</h3>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-1">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/i (5).webp" alt="">
                    <h2 class="fio mt-2">Иван</h2>
                    <h2 class="fio">Поддубный</h2>
                </div>
                <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <img class="img_cus" src="img/add_master.webp" alt="">
                    <h2 class="fio mt-2">Добавить</h2>
                    <h2 class="fio">мастера</h2>
                </div>
            </div>
        </div>

    </main>
 {% endblock %}

