{% extends 'admins/base_admins.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin_all_masters.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container mt-5">
            <div class="row">
                {% for master in masters %}
                    <div class="col col-md-6 col-lg-4 col-xxl-3  text-center mb-3">
                        <img class="img_cus" src="{{ master.image.url }}" alt="">
                        <h3 class="fio mt-1">{{ master.first_name }}</h3>
                        <h3 class="fio">{{ master.last_name }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/filial.js' %}"></script>
{% endblock %}
