{% extends 'admins/base_admins.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin_all_masters.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container mt-5">
            <div class="row">
                {% for master in masters %}
                    {% if not master.is_staff %}
                        <a href="#" class="btn master col col-md-6 col-lg-4 col-xxl-3  text-center mb-3" data-branchId="{{ address.id }}" data-masterId="{{ master.id }}">
                            <div>
                                <img class="img_cus" src="{{ master.image.url }}" alt="">
                                <h3 class="fio mt-1">{{ master.first_name }}</h3>
                                <h3 class="fio">{{ master.last_name }}</h3>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'users:register' address.id %}" class="btn col col-md-6 col-lg-4 col-xxl-3  text-center mb-4">
                    <div>
                        <img class="img_cus" src="{% static 'img/add_master.webp' %}" alt="">
                        <h2 class="fio mt-2">Добавить</h2>
                        <h2 class="fio">мастера</h2>
                    </div>
                </a>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/filial.js' %}"></script>
    <script src="{% static 'js/the_master.js' %}"></script>
{% endblock %}
