{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_base_with_left_panel.css' %}">
    {% block css %}{% endblock %}
    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="bi bi-list"> </span>
                </button>
                <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item p-4">
                            <a class="cus-btn" href="{% url 'admins:index' %}" role="button">Календарь <i
                                    class="bi bi-calendar2-date px-1"></i></a>
                        </li>
                        <li class="nav-item p-4">
                            <a class="cus-btn" href="#" role="button" id="all_masters">Мастера<i class="bi bi-scissors px-1"></i></a>
                        </li>
                        <li class="nav-item">
                            <select class="cus-filial" aria-label="Default select example" id="branchSelect">
                                {% if address %}
                                    <option value="{{ address.id }}" selected>{{ address.address }}</option>
                                    {% for branch in branches %}
                                        {% if branch.address != address.address %}
                                            <option value="{{ branch.id }}">{{ branch.address }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for branch in branches %}
                                        <option value="{{ branch.id }}">{{ branch.address }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </li>
                    </ul>
                    <div class="nav-item p-4">
                        <a class="log-btn" href="{% url 'users:logout' %}" role="button">Выход <i class="bi bi-box-arrow-right px-1"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-md-grow-1 d-flex">
        <div class="container-fluid flex-grow-1 d-flex">
            <div class="row flex-grow-1 w-100">
                <div class="col-12 col-lg-3 d-row-flex shadow_r bg-custom px-xxl-5 px-5 px-lg-2 order-lg-1 order-2">
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="text-field">
                                    <label class="text-field__label" for="hours_worked_in_month">Колличество отработанных часов</label>
                                    <input class="text-field__input" type="text" name="hours_worked_in_month" id=""
                                        placeholder="{{ hours_worked_in_month }}" value="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="text-field">
                                    <label class="text-field__label" for="total_hours_in_month">Запланированное количество
                                        часов</label>
                                    <input class="text-field__input" type="text" name="total_hours_in_month" id=""
                                        placeholder="{{ total_hours_in_month }}" value="" disabled>
                                </div>
                            </div>
                        </div>
                        {% if total_hours_in_month >= 180 %}
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="enough_hours d-flex">
                                        <p><i class="hours_cal bi bi-calendar2-check-fill"></i></p>
                                        <p class="align-self-center">У Вас максимальный коэффициент!</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="few_hours d-flex">
                                        <p><i class="hours_cal bi bi-calendar-x-fill"></i></p>
                                        <p>Для повышения коэффициента нужно запланировать больше часов!</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    <div class="mb-4">
                        <a class="btn btn-dark btn_del_master" href="{% url 'admins:del_master' address.id user.id %}">Удалить мастера</a>
                    </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 order-lg-2 order-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    {% block js %}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

</body>

</html>
